body {
  font-family: 'Liberation Mono', sans-serif;
  font-weight: 300;
  font-size: 145%;
  text-align: center;
  margin:50px 0;
  padding: 0;
}

h1 {
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:link {
  color: #666;
  text-decoration: none;
}

a:visited {
  color: #666;
}

a:hover {
  color: #000;
}
